<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://216.218.192.170/octavian_service</property>
		<property name="hibernate.connection.username">octavian_test</property>
		<property name="hibernate.connection.password">test123</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<!--  <property name="hibernate.default_schema">octavian_service</property> -->
<!--	  	<property name="hbm2ddl.auto">validate</property>
-->
		<!-- <property name="idleConnectionTestPeriod"><value></value></property> -->

		<property name="hibernate.c3p0.min_size">0</property>
        <property name="hibernate.c3p0.max_size">1</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

		<mapping class="com.service.auto.AUTO" />
		<mapping class="com.service.auto.BON" />
		<mapping class="com.service.auto.MARCA" />
		<mapping class="com.service.auto.MECANIC" />
		<mapping class="com.service.auto.MODEL" />
		<mapping class="com.service.auto.OPERATIE" />
		<mapping class="com.service.auto.PIESE" />
		<mapping class="com.service.auto.PROPRIETAR" />
		<mapping class="com.service.auto.USERS"/>

		<!-- <mapping class="com.service.auto.bon_oper"/> <mapping class="com.service.auto.PINLOCUIT"/> -->

	</session-factory>

</hibernate-configuration>